.formtag{
    background-color:lightgreen
}
.outerDiv{
    display:flex;
    justify-content: center;
}
.logindiv{
    width:20rem;
}
.signupform{
    background-color:lightblue
}
.SignUpdiv{
    width:20rem;
}
.logintitle{
    margin-left:6.5rem;
    font-family:serif;
    font-size: 40px;
}
.signuptitle{
    margin-left: 6rem;
    font-size: 40px;
}
.text{
    font-size: 20px;
}
.input{
    height:3rem;
    width:10rem;
    outline:none;
    border-radius: 10px;
    border:none;
    margin-left:2rem
}