.Cardmain{
    border:1px solid black;
    float:left;
    height:13rem;
    width:50rem;
    margin-top: 3rem;
    min-width:10rem;
    margin-left:1rem
}
.imgcontent{
    float:left;
    border:1px solid black;
    width:15rem;
    height:13rem;

}

.fitnessimg{
    width: 15rem;
    height: 13rem;
}

.textcontent{
    border:1px solid black;
    margin-left: 15rem;
    height:13rem;
    
}

.cardtitle{
    border:1px solid black;
    width:15rem;
    text-align:center;
    font-style: italic;
    
}

.cardpreview{
    border:1px solid black;
    font-weight: lighter;
    font-family:monospace;
}

.Cardcollection{
    display:flex;
    flex-direction: column;

}